<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      グラフ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">グラフ</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="tab-button">
    <div class="item">1週間</div>
    <div class="item">1ヶ月</div>
    <div class="item">3ヶ月</div>
    <div class="item">1年</div>
    <div class="item no-border">3年</div>
  </div>
  <div class="chart-wrapper">
    <canvas #lineChart></canvas>
  </div>
</ion-content>
