.weight-date {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.body-weight {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.button-area {
    padding: 20px;

    .register {
        margin: auto;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 80px;
        width: 80%;
    }
}