.weight-date {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.body-weight {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.button-area {
    padding: 20px;

    .register {
        align-items: flex-end;
        display: flex;
        width: 100%;
    }
}